<app-header></app-header>
<div class="container">
    <div class="row fade-in">
        <div class="col-md-6 offset-md-3 mt-5 fade-in">
            <div class="login-form mx-auto shadow-lg">
                <h1 class="login-header fade-in">Đăng nhập</h1>
                <div class="form-group fade-in mb-4">
                    <label for="phoneNumber ">Số điện thoại</label>
                    <input 
                        type="text"
                        class="form-control shadow mt-2" 
                        [(ngModel)]="phoneNumber"
                        (input)="onPhoneNumberChange()"
                        name="phone"
                        placeholder="Số điện thoại"
                        (focus)="loginForm.form.markAsTouched()"
                        id="phoneNumber"
                    >
                </div>
                <div class="form-group password-field fade-in mb-4">
                    <label for="password">Mật khẩu</label>
                    <input
                        type="{{ showPassword ? 'text' : 'password' }}"
                        [(ngModel)]="password"                            
                        name="password"
                        placeholder="Ít nhất 3 ký tự" 
                        class="form-control shadow mt-2" id="password"
                    >
                    <i class="password-toggle fas" [ngClass]="showPassword ? 
                        'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()">
                    </i>
                </div>                
                <div class="form-group fade-in ">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input
                                type="checkbox" 
                                class="form-check-input" 
                                id="remember" 
                                [(ngModel)]="rememberMe"
                            >
                            <label class="form-check-label text-start" for="remember">
                                Ghi nhớ đăng nhập
                            </label>
                        </span>
                        <!-- <a href="#" class="register-link">Quên mật khẩu</a> -->
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control access-right shadow" style="font-size: 13px; font-weight: bold;"
                        [(ngModel)]="selectedRole">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option  *ngFor="let role of roles" [ngValue]="role">
                            {{ role.name }}
                        </option>
                    </select>
                </div>

                <button 
                    type="button" 
                    (click)="login()"
                    class="login-button shadow">Đăng nhập
                </button>
                <div class="divider"></div>
                <p class="text-center">Bạn chưa đăng ký? 
                    <span>
                        <a class="register-link" 
                            (click)="createAccount()">Tạo tài khoản
                        </a>
                    </span>
                </p> 
            </div>    
        </div>  
    </div>   
</div>
<app-footer class="mt-5"></app-footer>
