// color-palette: #F2F2F2, #BF6F6F, #BBBBBB, #A43232, #252525, #A91526;
//General
$bg-body:#A43232;
$text-white: #FFFFFF;
$text-hover:#E03C48;
$text-boder-text: #E03C48;
$text-hint: rgba(255, 255, 255, 0.1);
$text-red: #E03C48;

@font-face {
    font-family: 'Dune';
    src: url('../../assets/fonts/DVN-Dune_Rise.ttf') format('truetype'); /* Sửa thành 'truetype' */
    font-weight: normal;
    font-style: normal;
}

.dune {
    font-family: 'Dune';
}

.btn-gradient {
    background: linear-gradient(to right, #333333, #dd1818);
    color: white;
    border-radius: 30px;
    width: 200px;
    padding: 10px;
    border: none;
    text-decoration: none;
}

//animation1
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.7s ease-out forwards;
}

.fade-in:nth-child(1) {
    animation-delay: 0.1s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.35s;
}

.fade-in:nth-child(3) {
    animation-delay: 0.55s;
}
.fade-in:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
//animation2
.float {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, -10px); /* Di chuyển lên và sang phải */
    }
    50% {
        transform: translate(0, -20px); /* Di chuyển lên */
    }
    75% {
        transform: translate(-10px, -10px); /* Di chuyển lên và sang trái */
    }
    100% {
        transform: translate(0, 0); /* Quay về vị trí ban đầu */
    }
}

//animation3
// Animation cho text chạy vòng quanh div
.marquee {
    overflow: hidden;
    &__content {
      animation: marquee 5s linear infinite;
      width: 100%;
        color: #A91526;
        /* Text color */
        font-weight: bold;
    }
  }
  
  // Keyframes cho animation marquee
  @keyframes marquee {
    0% {
      transform: translateX(-70%);
    }
    100% {
      transform: translateX(70%);
    }
  }  
//icon-animation

//login
$login-bg: #e7e7e7;
$login-text:#333;
$login-checkbox:#ff1616;
$login-link: #001aff;
$login-bg-role: #333;
$login-devider:  #e24747;

//register
$register-bg:#e7e7e7;
$regiter-text: #333;
$register-checkbox: #ff1616;
$register-link: #001aff;
$register-devider:  #e24747;

//Header
$text-header: #F2F2F2;
$bg-header:#252525;
$boder-header-active: #333;

$border-color:#fff;
$hover-bg:#fff;

//home
$home-2-text: #e24747;

//product
$text-in-item:#F2F2F2;
$item-boder: #F2F2F2;
$text-in-pagiation: #000000;
$bg-pagination: #ffffff00;
$bg-pg-hover-active:#BBBBBB;
$product: #e24747;


//order
$order-text-hint:rgba(255, 255, 255, 0.1);
$order-bg-input: #333;
$order-text-header: #F2F2F2;
$order-bg-product-table:#F2F2F2;

//user profile
$user-text-header:#F2F2F2;
$user-bg-form:#333;

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1; /* Đảm bảo màu không bị làm mờ thêm */
}

//footer
$footer-bg: #333;
$footer-text: #F2F2F2;
$footer-text-hover: #E03C48;
$footer-text-h1:#ff8189;

$shopapp-color: #730710;
$shopapp-tint-color: #440506;
$shopapp-title-color: #E03C48;
$shopapp-background-color: #A91526;

$white: #ffffff;
$background-select-color: #333;
$rating: #FFD700;

nav .pagination .page-item .page-link {
    margin-top: 2.5rem;
    background-color: $bg-pagination;
    color: $text-in-pagiation;
    border: none;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

nav .pagination .page-item .page-link:hover {
    background-color: $bg-pg-hover-active;
    border-radius: 50% !important;
}

nav .pagination .page-item .page-link.active {
    background-color: $footer-text-h1 !important;
    border-radius: 50%;
    color: white;
}