<div class="container">
  <h1 class="text-center mb-4" >Order Details</h1>
  
  <div class="row">
    <div class="col-md-5 fade-in">
      <div class="order-detail-info-card p-4">
        <h3 class="text-center mb-4">Order Information</h3>
          <p><strong>Order ID:</strong> {{ orderResponse.id }}</p>
          <p><strong>User ID:</strong> {{ orderResponse.user_id }}</p>
          <p><strong>Full Name:</strong> {{ orderResponse.fullname }}</p>
          <p><strong>Phone Number:</strong> {{ orderResponse.phone_number }}</p>
          <p><strong>Email:</strong> {{ orderResponse.email }}</p>
          <p><strong>Address:</strong> {{ orderResponse.address }}</p>
          <p><strong>Note:</strong> {{ orderResponse.note }}</p>
          <p><strong>Order Date:</strong> {{ orderResponse.order_date | date }}</p>
          <p><strong>Shipping Method:</strong> {{ orderResponse.shipping_method }}</p>
          <p><strong>Shipping Address:</strong> {{ orderResponse.shipping_address }}</p>
          <p><strong>Shipping Date:</strong> {{ orderResponse.shipping_date }}</p>
          <p><strong>Payment Method:</strong> {{ orderResponse.payment_method }}</p>
          
          <div class="form-group">
            <label for="statusSelect"><strong>Status:</strong></label>
            <select class="form-control" id="statusSelect" 
              [(ngModel)]="orderResponse.status">
              <option value="pending">Pending</option>
              <option value="processing">Processing</option>
              <option value="shipped">Shipped</option>
              <option value="delivered">Delivered</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div> 
      </div>  
               
  </div>  

  <div class="col-md-7 fade-in">
    <div class="order-detail-table-card p-4">
      <h3 class="text-center mb-4">Order Details</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <!--<th>Total</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order_detail of orderResponse.order_details; 
            let i = index">
            <td>{{ order_detail.product.name }}</td>
            <td>
              <p>{{order_detail.product.price}}</p>          
            <td>
              <p>{{order_detail.number_of_products}}</p>          
            </td>
            <!--<td>{{ order_detail.total_money }}</td>-->
          </tr>
        </tbody>
      </table>  

      <div class="text-center mt-3">
        <button class="btn btn-primary col-md-2 text-center" 
          (click)="saveOrder()">Save
        </button>
      </div>

    </div>
  </div>
  
</div>