@import "../../styles/shared-styles.scss";
footer {
    background-color:$footer-bg ;
    color:$footer-text;
}
h1 {
    color: $footer-text-h1;
}
ul li a {
    color: $footer-text;
}
ul li a:hover {
    color: $footer-text-hover;
}