<section class="mt-5">
    <footer class=" text-center text-md-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h2 class="text-uppercase">Q36-SHOP</h2>
                    <p>
                        Q36-SHOP là cửa hàng bán đồ điện tử uy tín, chuyên cung cấp các sản phẩm chất lượng với giá cả phải chăng.
                        Chúng tôi cam kết mang đến cho khách hàng trải nghiệm mua sắm tuyệt vời với dịch vụ hỗ trợ tận tình.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">Liên kết</h4>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" >Trang chủ</a>
                        </li>
                        <li>
                            <a href="/products" >Sản phẩm</a>
                        </li>
                        <li>
                            <a href="/" >Khuyến mãi</a>
                        </li>
                        <li>
                            <a href="/" >Liên hệ</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase mb-0">Kết nối với chúng tôi</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href=""  target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href=""  target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href=""  target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="" >Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright: <a  href="https://www.q36shop.com/">Q36-SHOP</a>
        </div>
    </footer>
</section>
